SET NAMES utf8;

#
# Create tables
# (*) название баз данных не желательно писать [camelCase]
#

USE {{db_name}};

# порядок важен из-за вторичных ключей
DROP TABLE IF EXISTS `CONTACT`;
DROP TABLE IF EXISTS `CONTACT_RELATION`;
DROP TABLE IF EXISTS `MESSAGE`;
DROP TABLE IF EXISTS `USER`;

#
# Structure for table "USER"
#

CREATE TABLE `USER` (
  `user_id` bigint NOT NULL AUTO_INCREMENT,
  `login` varchar(50) DEFAULT NULL,
  `password` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

#
# Structure for table "CONTACT"
#

CREATE TABLE `CONTACT` (
  `contact_id` bigint NOT NULL AUTO_INCREMENT,
  PRIMARY KEY (`contact_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

#
# Structure for table "CONTACT_RELATION"
#

CREATE TABLE `CONTACT_RELATION` (
  `contact_relations_id` bigint NOT NULL AUTO_INCREMENT,
  `contact_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`contact_relations_id`),
  KEY `for_contact_id` (`contact_id`),
  KEY `to_user_id` (`user_id`),
  CONSTRAINT `FK_FOR_CONTACT` FOREIGN KEY (`contact_id`) REFERENCES `CONTACT` (`contact_id`),
  CONSTRAINT `FK_CONTACT_TO_USER` FOREIGN KEY (`user_id`) REFERENCES `USER` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

#
# Structure for table "MESSAGE"
#

CREATE TABLE `MESSAGE` (
  `message_id` bigint NOT NULL AUTO_INCREMENT,
  `from_user_id` bigint DEFAULT NULL,
  `to_user_id` bigint DEFAULT NULL,
  `text_message` text,
  `send_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`message_id`),
  KEY `from_user_id` (`from_user_id`),
  KEY `to_user_id` (`to_user_id`),
  CONSTRAINT `FK_MESSAGE_FROM_USER` FOREIGN KEY (`from_user_id`) REFERENCES `USER` (`user_id`),
  CONSTRAINT `FK_MESSAGE_TO_USER` FOREIGN KEY (`to_user_id`) REFERENCES `USER` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

